body {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 20px;
    background-color: white;
}

.card-container {
    display: grid;
    gap: 20px;
}

.card {
    min-width: 105px;
    min-height: 148px;
    border: 4px black solid;
    border-radius: 4px;
}

.body-container {
    width: 70vw;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    border: 4px gray solid;
    border-radius: 20px;
    background-color: gray;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav a {
    padding: 10px 30px;
    border-radius: 20px;
    font-family: "TikTok Sans", sans-serif;
    font-weight: 900;
    text-decoration: none;
    color: white;
    transition: transform 0.25s ease, background-color 0.25s ease;
}

nav a:hover {
    transform: scale(1.05);
    background-color: rgb(60, 60, 60);
}

h1, h2, p {
    font-family: "TikTok Sans", sans-serif;
    text-align: center;
}

#description {
    min-height: 120px;
    border: 4px solid rgb(30, 30, 30);
    border-radius: 4px;
    background-color: rgb(30, 30, 30);
    color: white;
    padding: 10px;
}

.other {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}

.other ul {
    width: 20vw;
    border: 4px gray solid;
    background-color: gray;
    border-radius: 4px;
    list-style-type: none;
    transition: transform 0.25s ease, background-color 0.25s ease;
}

.other ul:hover {
    transform: scale(1.05);
    background-color: rgb(60, 60, 60);
}

.other a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-family: "TikTok Sans", sans-serif;
    font-weight: 900;
    text-align: center;
}

footer {
    border: 4px solid rgb(30, 30, 30);
    border-radius: 4px;
    background-color: rgb(30, 30, 30);
    color: white;
    margin-top: 20px;
}

.fade-up {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1.2s ease, transform 1.2s ease;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}
