body {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-container {
    display: grid;
    gap: 20px;
}

.card {
    min-width: 105px;
    min-height: 148px;
    border: 4px black solid;
    border-radius: 4px;
    flex-grow: 1;
}

.body-container {
    width: 70vw;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    border: 4px gray solid;
    border-radius: 20px;
    background-color: gray;
    align-self: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a {
    padding: 10px 30px;
    border-radius: 20px;
    font-family: "Tiktok Sans", sans-serif;
    font-weight: 900;
    text-decoration: none;
    color: white;
}

h1, h2, p {
    font-family: "Tiktok Sans", sans-serif;
    white-space: normal;
    overflow-wrap: break-word;
}

#description {
    min-height: 300px;
    border: 4px solid rgb(30, 30, 30);
    border-radius: 4px;
    background-color: rgb(30, 30, 30);
    color: white;
    font-weight: 500;
    text-align: justify;
    padding: 8px;
}

.other {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;
}

.other ul {
    width: 20vw;
    border: 4px gray solid;
    background-color: gray;
    border-radius: 4px;
    list-style-type: none;
}

footer {
    border: 4px solid rgb(30, 30, 30);
    border-radius: 4px;
    background-color: rgb(30, 30, 30);
}

nav a,
.other ul {
    transition: transform 0.25s ease, background-color 0.25s ease;
    cursor: pointer;
}

nav a:hover,
.other ul:hover {
    transform: scale(1.05);
    background-color: rgb(60, 60, 60);
    border-color: rgb(60, 60, 60);
}


.fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.6s ease, transform 1.6s ease;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}
