body {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-container {
    display: grid;
    gap: 20px;
}

.card {
    min-width: 105px;
    min-height: 148px;
    border: 4px black solid;
    border-radius: 4px;
    flex-grow: 1;
}

.body-container {
    width: 70vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

nav {
    border: 4px gray solid;
    border-radius: 20px;
    background-color: gray;
    align-self: center;
    width: fit-content;
    transition: transform 0.25s ease, background-color 0.25s ease;
    cursor: pointer;
}

nav:hover {
    transform: scale(1.05);
    background-color: rgb(60, 60, 60);
    border-color: rgb(60, 60, 60);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-family: "Tiktok Sans", sans-serif;
    text-align: center;
}

h1, h2, p {
    font-family: "Tiktok Sans", sans-serif;
    justify-self: center;
}

#description {
    min-height: 300px;
    border: 4px solid rgb(30, 30, 30);
    border-radius: 4px;
    background-color: rgb(30, 30, 30);
    color: white;
    font-weight: 500;
    text-align: justify;
    padding: 8px;
}

.other {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.other ul {
    list-style: none;
    border: 4px solid gray;
    border-radius: 4px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.25s ease, background-color 0.25s ease;
    cursor: pointer;
}

.other ul:hover {
    transform: scale(1.05);
    background-color: rgb(60, 60, 60);
    border-color: rgb(60, 60, 60);
}

.other a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-family: "Tiktok Sans", sans-serif;
}

footer {
    border: 4px solid rgb(30, 30, 30);
    border-radius: 4px;
    background-color: rgb(30, 30, 30);
    padding: 8px;
}
